@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: mainFont;
	src: url('../../public/iomanoid/iomanoid.ttf');
}
@font-face {
	font-family: notoS;
	src: url(../../public/iomanoid/NotoSerifDisplay-Regular.ttf);
}
@font-face {
	font-family: name;
	src: url(../../public/iomanoid/iomanoid\ shine.ttf);
}
@font-face {
	font-family: heade;
	src: url(../../public/iomanoid/iomanoid\ front.ttf);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	
}
.comptextheader{
	font-family: "heade" , Courier, monospace;
}
.videoReel{
	transform: rotate(270deg);
}
.container{
	background-image: url(../../public/images/animations/GodANi.gif);
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center
}

body{
	@apply bg-[#0D1117];
	background: url(../backgroundIMg.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: centers; */
	/* height: 200vh ; */
	/* overflow: hidden; */
	
}
@media  (min-width:800px) {
	body{
	
	background: url(../deskback.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	}
	
}
.barhide::-webkit-scrollbar{
	width: 0;
}
.btn-res{
	font-family:'mainFont', Courier, monospace;
}
.para{
	font-family: "notoS", serif;
}

#root{
	display: flex;
	flex-direction: column;
	height: 100dvh;
	overflow-y : auto;
}


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.TeamT{
	font-family: 'mainFon', Courier, monospace;


}
.navfont{
	font-family: 'mainFon', Courier, monospace;
}

.btn-style{
	background-color: #f6f7f8;
    background: linear-gradient(to right , #582f0e, #e2bc2f , #582f0e);
    background-size: 500px 50px;
    animation: loader 4s infinite linear;

}
@keyframes loader {
    0%{
        background-position: -500px 0px;
    }
    100%{
        background-position: 500px 0px;
    }
}

.Competiton-poster-loder{
	background-color: #f6f7f8;
	opacity: 0.3;
    background: linear-gradient(to left , #e2bc2f, #767b91 , #e2bc2f);
    background-size: 500px 50px;
    animation: loader 1.3s infinite linear;

}